# Text Editors
.vscode
.python-version
Pipfile.lock
**/*.ipynb_checkpoints
**/*.egg-info
**/*.virtual_documents

**/*.csv
**/*.pkl

# Training Configuration
train_config.json

# Spacy Models
src/ia2/ia2/models/*
!src/ia2/ia2/models/.gitkeep

# Logs
src/ia2/ia2/logs/*
!src/ia2/ia2/logs/.gitkeep

# Training History
src/ia2/ia2/history/*
!src/ia2/ia2/history/.gitkeep

# Datasets
resources/dataset/*
!resources/dataset/.gitkeep

# Misc
**/__pycache__

# Logs
logs

# Virtualenv
/venv

# Dist
dist

# Env
.env

spacy_script.py
