# Text Editors
.vscode

# Training Configuration
train_config.json

# Spacy Models
models/*
!models/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# Training History
history/*
!history/.gitkeep

# Datasets
data/*
!data/.gitkeep

# Misc
__pycache__

# Logs
logs

# Virtualenv
/venv

# Dist
dist

# Env
.env
